/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#nightly-tester-enter {
  list-style-image: url("chrome://nightly/skin/idlarge.png");
}

toolbar[iconsize="small"] #nightly-tester-enter {
  list-style-image: url("chrome://nightly/skin/idsmall.png");
}

.popup-notification-icon[popupid="nightly-compatibility-restart"] {
  list-style-image: url("chrome://nightly/content/brand/logo.png");
}

#nightly-aboutsupport[loading="true"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png") !important;
}
